# Compiled vs Interpreted

- Source Code: Original Code
- Translation: Converting source code into something a computer can read (i.e machine code)
- Run-Time: Period when program is executing commands (after compilation, if compiled)
- Compiled: Code translated before run-time.
- Interpreted: Code translated on the fly, during execution.

# Static vs Dynamic

Static: Types checked before run-time.

Dynamic: Types Checked on the fly, during execution.

# Python

Python is an interpreted high-level programming language for general-purpose programming. Created by Guido van Rossum and first released in 1991, Python has a design philosophy that emphasizes code readability, notably using significant whitespace.

# Python is strongly type language.

In [1]:
print(3 + 5)
#print("3" + 5)

8

# Python is dynamic and interpreted language

In [2]:
a = 10
if a > 0:
    print('Hi')
else:
    print("3" + 5)

Hi

### Q. What if it was compiled?
### Q. What if it was statically typed?

In [3]:
# Hello world
print("Hello World")

Hello World

# Python Data Type

### Q. What is Data type?

# Python Basic Data Type

In [4]:
# Number
a = 10
print(a)

10

In [5]:
# String
var = "Name"
print(var)

Name

In [6]:
# list
var = [1,2,3, "abc", [1,2]]
print(var)

[1, 2, 3, 'abc', [1, 2]]

In [7]:
# dictionary
var = {1:'apple', 2: 'banana'}
print(var)

{1: 'apple', 2: 'banana'}

In [8]:
# tuple
var = (1,2,3,4,'apple', [1,2], (1,2))
print(var)

(1, 2, 3, 4, 'apple', [1, 2], (1, 2))

In [9]:
# set
var = {1, 2, 'a'}
print(var)

{1, 2, 'a'}

In [10]:
# Boolean
a = True
print(a)

True

In [11]:
# and many others 
# files, types, none, classes

# Valid variable name

1. Variable names can be of any length and can use any upper case or lowercase letters, the underscore, and the digits 0-9.
2. variables names cannot begin with a digit. 
3. Variable names are case sensitive. 

#### Valid variable name: myVariable, var1, x, X, _x

#### Invalid variable name: 1var, my#var

# Numbers

In [12]:
my_int = 4
print(my_int/3) # normal division
print(my_int//3) # floar division

1.3333333333333333
1

In [13]:
my_float = 5.5
print(20/my_float)
print(20//my_float)

3.6363636363636362
3.0

In [14]:
# complex number 
2 + 4j

(2+4j)

In [15]:
_ - 3j

(2+1j)

In [16]:
complex(4,3)

(4+3j)

# Arithmetic and relational operation

In [17]:
# The order of execution is PEMDAS which stands for Parentheses\
# Exponents Multiplication Division Addition Subtraction"

In [18]:
print("I will now count my chickens:")

print("Hens", 25 + 30 / 6)
print("Roosters", 100 - 25 * 3 % 4)

print("Now I will count the eggs:")
print(3 + 2 + 1 - 5 + 4 % 2 - 1 / 4 + 6)

print("Is it true that 3 + 2 < 5 - 7?")
print(3 + 2 < 5 - 7)

print("What is 3 + 2?", 3 + 2)
print("What is 5 - 7?", 5 - 7)

print("Oh, that's why it's False.")

print("How about some more.")

print("It is greater?", 5 > -2)
print("It is greater or equal?", 5 >= -2)
print("It is less or equal?", 5 <= -2)

I will now count my chickens:
Hens 30.0
Roosters 97
Now I will count the eggs:
6.75
Is it true that 3 + 2 < 5 - 7?
False
What is 3 + 2? 5
What is 5 - 7? -2
Oh, that's why it's False.
How about some more.
It is greater? True
It is greater or equal? True
It is less or equal? False

# Boolean Expression

In [19]:
False and True

False

In [20]:
False or True

True

In [21]:
1 == 1 or 2 != 1

True

In [22]:
1 == 1 and (not ("testing" == 1 or 1 == 0))

True

#### In python 3, False = 0 True = 1

In [23]:
#False or True
0 or 1

1

In [24]:
# not False
not 0

True

# List

In [25]:
nums =  [70, 60, 50, 40, 30, 20, 10]
print(nums)

[70, 60, 50, 40, 30, 20, 10]

In [26]:
test = ["a", "list", "of", [4, 'plus', 1], "elements"]
print(test)

['a', 'list', 'of', [4, 'plus', 1], 'elements']

### Q. Compare list with array?

In [27]:
# indexing
x = [1,2,3,4,5,6]

In [28]:
len(x)

6

In [29]:
x[1]

2

In [30]:
x[-3]

4

In [31]:
x = [[1,2],[3,4],[5,6]]
x

[[1, 2], [3, 4], [5, 6]]

In [32]:
x[1][0]

3

In [33]:
x[2][-2]

5

In [34]:
x[-1]

[5, 6]

In [35]:
x[0][0] = 100
x

[[100, 2], [3, 4], [5, 6]]

### Q. Create 1d list of size 10 with values ranging from 1 to 10 but the 5th value is -1.

In [36]:
#Solution

### Q. Reserve the list

In [37]:
#Solution

In [38]:
# slicing
x = [1,2,3,4,5,6]

In [39]:
x[0:4]

[1, 2, 3, 4]

In [40]:
x[:4]

[1, 2, 3, 4]

In [41]:
l = len(x)
x[3:l]

[4, 5, 6]

In [42]:
x[3:]

[4, 5, 6]

In [43]:
x[::2]

[1, 3, 5]

In [44]:
x[1::2]

[2, 4, 6]

In [45]:
x = [[3,7,0],[1,9,9],[0,4,7]]
x[:2]

[[3, 7, 0], [1, 9, 9]]

In [46]:
x[:2][:1]

[[3, 7, 0]]

### Q. Find the last 3 element of list in reverse order.

Input: x = [1,2,3,4,5,6]
Output: [6,5,4]

In [47]:
#Solution

In [48]:
# change or add elements to a list

odd = [2, 4, 6, 8]

odd[0] = 1

print(odd)

odd[1:4] = [3,5,7]

print(odd)

odd.append(10)

print(odd)

odd.extend([9,11,13])

print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]
[1, 3, 5, 7, 10]
[1, 3, 5, 7, 10, 9, 11, 13]

In [49]:
odd = [1, 3, 5]

print(odd + [9, 7, 5])

print(["re"] * 3)

[1, 3, 5, 9, 7, 5]
['re', 're', 're']

In [50]:
odd = [1, 9]
odd.insert(1, 3)

print(odd)

# insert multiple items by squeezing it into an empty slice of a list.
odd[2:2] = [5, 7]

print(odd)

[1, 3, 9]
[1, 3, 5, 7, 9]

In [51]:
# delete or remove elements from a list
my_list = ['p', 'r', 'o', 'b', 'l', 'e', 'm']

del my_list[2]

print(my_list)

del my_list[1:5]

print(my_list)

# delete entire list
del my_list
#print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

In [52]:
my_list = ['a', 'p', 'p', 'l', 'e', 'e']
my_list.remove('p')

print(my_list)

print(my_list.pop(1))

print(my_list)

print(my_list.pop())

print(my_list)

my_list[1:2] = []

print(my_list) 

my_list.clear()

print(my_list)

['a', 'p', 'l', 'e', 'e']
p
['a', 'l', 'e', 'e']
e
['a', 'l', 'e']
['a', 'e']
[]

In [53]:
my_list = [3, 8, 1, 6, 0, 8, 4]

# returns the index of the first matched item
print(my_list.index(8))

# returns the count of number of items passed as an argument
print(my_list.count(8))

my_list.sort()

print(my_list)

my_list.reverse()

print(my_list)

1
2
[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

In [54]:
# list membership test
my_list = [1, 2, 3, 4]

print(1 in my_list)

print('a' in my_list)

print('1' in my_list)

True
False
False

In [55]:
my_list = [5, 6, 7, 8]
    
print(len(my_list))

print(max(my_list))

print(min(my_list))

print(sorted(my_list))

print(sum(my_list))

4
8
5
[5, 6, 7, 8]
26

# If condition

In [56]:
a = 10

if a == 10:
    print("Hello")
elif a == 20:
    print("End")
else:
    print("Empty")

Hello

# While loop

In [57]:
i = 0
while i < 6:
    print(i)
    i = i + 1

0
1
2
3
4
5

# For loop

In [58]:
for i in [1,2,3]:
    print(i)

1
2
3

### Q. Find the unique elements from the given list. 

list = [1,2,3,4,3,4,2,3,5,6,2,1]

In [59]:
# Solution

### Q. Slice to get the last 2 rows of first 2 columns

x = [[3,7,0],[1,9,9],[0,4,7]]

expected output: [[7,0],[9,9]]

In [1]:
# Solution